
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

$family-primary: 'Inconsolata';

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

/* CSS Reset - https://www.webfx.com/blog/web-design/a-comprehensive-guide-to-css-resets/ */
html, body {padding: 0; margin: 0;} html {font-size: 1em;} body {font-size: 100%;} a img, :link img, :visited img {border: 0;}

body {
    margin: 0;
    background-color: #EEE;
}

html {
    margin: 0;
    font-family: 'Inconsolata', serif;
}

/* Sidebar */
 img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2b2b2b; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: white;
    text-align: center;
}

.sidenav > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
}

.links a {
    color: #EEE;
    text-decoration: none;
}

/* Main Content */

main {
    margin-left: 160px;
    padding: 20px;
    width: 60%;
    background-color: white;
    min-height:100vh;
}

main a {
    text-decoration: none;
    color: #f05a7f;
}

.title {
    font-size: 2rem;
}

main pre {
  background: #3C3C3C;
  color: white;
  border-radius: 4px;
  padding: 40px 45px;
  font-size: 14px;
  overflow: auto;
}

main p > code, main li > code {
  background: #F0F0F0;
  color: #666a6c;
  padding: 1px 8px;
}

main blockquote {
  background: #F0F0F0;
  padding: 20px 20px
}
