<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preload" as="style" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <meta name="description" content="{{ meta_description }}" />
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">


  <title>Vineeth's Blog</title>
</head>

<body>
  <div class="sidenav">
    <div class="container">
      <h2>Vineeth's<br>Blog<br>---------</h2>
      <div class="links">
        <a href="/">About</a>
        <a href="/posts">Posts</a>
        <a href="/garden">Garden</a>
      </div>
      <h2>Socials<br>---------</h2>
      <div class="links">
        <a href="http://www.twitter.com/TheMarshmalon" target="_blank">Twitter</a>
        <a href="https://github.com/VVoruganti" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/vineethvoruganti/" target="_blank">LinkedIn</a>
      </div>
    </div>
    <div class="links sidenav-footer">
      <a href="/feed.xml" target="_blank">RSS</a>
    </div>
  </div>
  <main>
    {{ content | safe }}
  </main>
</body>

</html>
