<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-item has-text-weight-bold">
      {{ site.title }}
    </div>
  </div>
  <div class="navbar-end">
    <a href="/posts" class="navbar-item">
      Posts
    </a>

    <a href="/" class="navbar-item">
      Me
    </a>
    
    <a href="/garden" class="navbar-item">
      Garden
    </a>
  </div>
</nav>
