---
layout: base.njk
---
<article class="content mt-5">
  <h1 class="title">{{ title }}</h1>
  <p class="subtitle is-6">
    Published on: <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  </p>
  {{ content | safe }}
</article>
