---
layout: page.njk
title: Hello 👋
meta_description: My personal blog where I keep track of my thoughts and vent to the world
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<style>
    .post time {
      padding-right: 5px;
      white-space: nowrap;
    }
    .post a {
      overflow-x: wrap;
    }
    .post td:first-child {
      vertical-align: top;
    }
    #posts {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
</style>
<p> I'm Vineeth, also go by <b>marshmalon</b> online.</p>
<p>
Currently a Founder @ <a href="https://www.plasticlabs.ai">Plastic Labs</a>. Like to spend
my time reading about <b>Game Design</b>, <b>DevSecOps</b>, and <b>Blockchain</b>
</p>
<p>
Using this as a space to put down my thoughts and experiments. Updated every
once in a while, no real pattern or cadence.
</p>
<p>
The structure of this blog was inspired by <a href="https//beepb00p.xyz/">karlicoss</a>
with styling inspiration from <a href="https://moonscript.org/">moonscript</a>
</p>

<h2>Posts</h2>
<table id="posts">
  <tbody>
{% for post in posts %}
  <tr class="post">
      <td><time datetime="{{ post.date | dateIso }}">{{ post.date | dateSimple }}</time></td>
      <td><a href="{{ post.url | url }}">{{ post.data.title }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
<div>
