---
layout: page.njk
meta_description: An index of all of my essays and experiment writeups or just random rambling
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<style>
    article {
        padding-bottom: 20px;
    }
</style>
{% for post in posts %}
  <article>
    <h2>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    {% excerpt post %}
    <a href="{{ post.url | url }}"
        aria-label="Read more on {{ post.data.title }}">Read more</a>
  </article>
{% endfor %}
